<!DOCTYPE html>
<html lang="en">
  <head>    
    <!-- <script src="js/js_script.js" defer></script> -->
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="js/vue_script.js" defer></script>
    <!-- <link rel="stylesheet" type="text/css" href="/css/reset.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Skoobens Burgerstore Online</title>
    <meta charset="utf-8"/>

  </head>
  <body>
    <main id="mainID">      
      <img id="headingIMG" src="https://cdn.pixabay.com/photo/2016/07/31/16/24/banner-1559399_960_720.jpg">           
      <h1 id="titleID">Welcome to Skoobens Burgerstore</h1>     
    </main>
    <h2>Choose your burger</h2>
    <p>Please pick a delicious burger</p>
    <section id="menuID">      
      <div id="menuContainerID" class="menuContainer">
	<div v-for="burger in burgers">
	  <h1>{{burger.name}}</h1>
	  <img :src="burger.img" alt="Span" title="menu-3" width="300">
	  <ul>
	    <li>{{burger.desc}}</li>
	    <li>{{burger.kcal}} kcal</li>
	    <li v-if="burger.allergy === 'Contains gluten'" class="allergy">{{burger.allergy}}</li>
	    <li v-else> {{burger.allergy}}</li>
	  </ul>
	</div>
      </div>           
    </section>
    
    <section id="informationID">
      <h2>Customer information</h2>
      <p>This is where you provide necessary information</p>

      <h3>Delivery information</h3>
      <p>
	<label for="fullname">Full name</label><br>
	<input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name" maxlength=30 />
      </p>
      <p>
	<label for="email">E-mail</label><br>
	<input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
      </p>
      <p>
	<label for="street">Street</label><br>
	<input type="text" id="street" name="st" required="required" placeholder="Street name" maxlength=30/>
      </p>
      <p>
	<label for="house">House</label><br>
	<input type="number" id="house" name="ho" required="required" placeholder="House number" maxlength=6/>
      </p>

      <p>
	<label for="payment">Choose Payment method</label><br />
	<select id="payment" name="pay" selected="Swish">
          <option>Swish</option>
          <option>Bank transfer</option>
          <option>Credit card</option>
          <option>Cash</option>
	</select>
      </p>

      <p>
	  <label for="gender">Choose Gender</label><br />
	  <input type="radio" name="gender" value="male"> Male<br>
	  <input type="radio" name="gender" value="female"checked> Female<br>
	  <input type="radio" name="gender" value="other"> Other
      </p>
    </section>
    <!-- <form><input type="submit" value="Place order!" /></form> -->
    <form><button>Place order!</button></form>
  </body>

  <footer><p>&copy; 2020 SkoobensBurgerstoreOnline.com<p></footer>
</html>
