body {
    font-family: sans-arial;
    font-size: 1.2em;
    margin: 0 auto;
		   
}
  
.allergy {
    font-weight: bold;
}

#menuID {
    background-color: #000000;
    color: #FFFFFF;
    border: 2px dashed #FFFFFF;
    padding: 10px;
}

#informationID {
    border: 2px dashed #000000;
    padding: 10px;
}

#mainID {
    margin: 10px;
    height: 300px;
    overflow: hidden;
}


#titleID {
    position: absolute;
    padding-left: 20%;
    margin-top: -720px
		    
}

#headingIMG {
    opacity: 0.6;
    hight: auto;
    width: 100%
}


button{
    margin: 10px;
}

button:hover {
    background-color: #FF0000;
    cursor: pointer;
}

table {
    width: 70%;
    margin: 0 auto;
}

section {
    margin: 10px;
}

main {
    margin: 10px;
}
