body {
    font-family: sans-arial;
    font-size: 1.2em;
    margin: 0 auto;
		   
}
  
.allergy {
    font-weight: bold;   
}

#menuID {
    background-color: #000000;
    color: #FFFFFF;
    border: 2px dashed #FFFFFF;
    padding: 10px;
}

#ordersID {
    border: 2px dashed #000000;
    padding: 10px;
}

#hiddenId {
    padding: 10px;
}

.order {
    background-color: #000000;
    color: #FFFFFF;
    border: 2px dashed #FFFFFF;
    padding: 10px;
}

#mainID {
    margin: 10px;
    height: 300px;
    overflow: hidden;
}


#titleID {
    position: absolute;
    padding-left: 21%;
    margin-top: -480px;
    font-size: 3.0em;
    color: #000000;
    
}

#box2ID {
    margin: 10px;
}


#headingIMG {
    opacity: 0.9;
    hight: auto;
    width: 100%;    
}


button{
    margin: 10px;
}

button:hover {
    background-color: #FF0000;
    cursor: pointer;
}

table {
    width: 70%;
    margin: 0 auto;
}

section {
    margin: 10px;
}

main {
    margin: 10px;
}

.menuContainer {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: repeat( 3, minmax(280px, 1fr) );
     justify-items: center;
}

.box {
     border-radius: 5px;
     padding: 20px;
     font-size: 150%;
}

.desc {
    font-size: 25px;
}

body {
	margin: 0;
	padding: 0;
}

.view-box {
	width: 90%;
	height: 70vh;
	margin: 1em auto;
	overflow: scroll;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
#dots {
	position: relative;
	margin: 0;
	padding: 0;
	background: url(/img/polacks.jpg);
	background-repeat: no-repeat;
	width:1920px;
	height: 1078px;
	cursor: crosshair;
}

#dots div {
	position: absolute;
	background: black;
	color: white;
	border-radius: 10px;
	width:20px;
	height:20px;
	text-align: center;
}

#orderList {
	top:1em;
	left:1em;
	position: absolute;
	z-index: 2;
	color:black;
	background: rgba(255,255,255, 0.5);
	padding: 1em;
}
