body {
    font-family: sans-arial;
    font-size: 1.2em; 
}
  
.allergy {
    font-weight: bold;
}

#menuID {
    background-color: #000000;
    color: #FFFFFF;
}

#informationID {

}


button:hover {
    background-color: #FF0000;
    cursor: pointer;
}
